{% extends "base.html" %}

<title>{% block title %}
      MyBlog
    {% endblock title %}</title>

    {% block right %}
    
    {% for blog in blogs_top %}
       <a href="{% url 'blog_detail' blog.slug %}">{{ blog.title }}</a><br>

    {% endfor %}

    {% endblock right %}

{% block content %}
  <h1>Barcha bloglar</h1>
      {% for i in blogs %}
      <div>
        <h2><a href="{% url 'blog_detail' i.slug %}">{{ i.title }}</a></h2>
        <img style="width: 400px;" src="{{ i.image.url}}" alt="">
        <p>{{ i.description |truncatewords:15 }}</p>
        <p> Sana {{i.created_at }} | ko`rish {{ i.views }} </p>
        <p> Blog yaratuvchi <strong> {{i.user.username}}</strong> </p>
        {% for tag in i.tags.all%}
        <a href="{% url 'tag_list' tag.slug %}">{{ tag.name }}</a>
        {%endfor%}
    </div>
      {%endfor%}
  
{% endblock content %}
